@using Logging.Common.Models;
@model TranscriptsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h3 class="display-4, text-center">Transcripts</h3>
        <h4 style="color:red;">@Model.Message</h4>
    </div>

    <div>
        @foreach (Transcript transcript in Model.Transcripts)
        {
            <div style="border-bottom:1px solid midnightblue; font-weight:bold; color: midnightblue; margin-top:20px;">Name: @transcript.Student.FirstName <span></span> @transcript.Student.LastName</div>
            <table>
                <thead style="font-weight:bold; color: midnightblue;">
                    <tr>
                        <td style="padding-right:20px; min-width:225px;">Course</td>
                        <td>Grade</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Course course in transcript.Courses)
                    {
                        <tr>
                            <td style="padding-right:20px; min-width:225px;">@course.Name</td>
                            <td>@course.Grade</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div>
        <br />
        @Html.ActionLink("Show More", "Index", "Home")
        <br />
        @Html.ActionLink("Show More (Error)", "ErroredIndex", "Home")
    </div>
</div>
